*{
    margin: 0;
     font-family: "Rubik", sans-serif;
}
body{
    background-color: rgb(246, 218, 222);
}
header {
   
    width: 90%;
    margin:  5% auto ;
    display: flex;
    justify-content: space-between ;
}
.btn{
    background-color: rgba(27, 27, 229, 0.724);
     color: white;
     padding: 15px 30px;
     border-radius: 10px;
      border: none;
}
.btn:hover{
    background-color: #0c07acf6;
    cursor: pointer;
    transition: 0.1s;
}